<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890414737552-4nbq23tsa394slbvijom140jmbg2ogd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890414737552-4nbq23tsa394slbvijom140jmbg2ogd0</string>
	<key>API_KEY</key>
	<string>AIzaSyBhQ9zII2kOrTQEi5dQ_839uhkQhoCct70</string>
	<key>GCM_SENDER_ID</key>
	<string>890414737552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>cricket-league-f03e1</string>
	<key>STORAGE_BUCKET</key>
	<string>cricket-league-f03e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890414737552:ios:428e92e8c8ca70d4e91015</string>
</dict>
</plist>